@import "./materialize";

// VARIABLES
$title: "Poppins", sans-serif;
$text: "Open Sans", sans-serif;
$textShadow: 3px 3px 0 #212121, 4px 4px 0 #212121, 5px 5px 0 #212121;

// REUSABLE COMPONENTS
.section-heading {
  /* as parent for overlay with absolute */
  position: relative;
  border-top: #fff solid 2px;
  border-bottom: #fff solid 2px;
  min-height: 120px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.sidenav li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.contact-hover li:hover {
  background-color: #cddc39;
}

.mail:hover {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);
}

// TYPOGRAPHY
body {
  font-family: $text;
}

.brand-logo,
.section-heading h4 {
  font-family: $title;
  text-shadow: $textShadow;
}

.section-how span,
.card-reveal span,
.btn {
  font-family: $title;
  letter-spacing: 2px;
}

.section-who .card-title {
  text-shadow: 2px 2px 0 #4a2b20;
}

::selection {
  background-color: #e91e63;
  color: #fff;
}

::-moz-selection {
  background-color: #e91e63;
  color: #fff;
}

// all background colors thanks to https://uigradients.com/
// photos from https://www.pexels.com and https://unsplash.com
// COLORS STUDIO
.bg-index {
  background: #3c3b3f;
  background: -webkit-linear-gradient(to right, #605c3c, #3c3b3f);
  background: linear-gradient(to right, #605c3c, #3c3b3f);
}

.bg-index-heading {
  background: #3c3b3f;
  background: -webkit-linear-gradient(to left, #605c3c, #3c3b3f);
  background: linear-gradient(to left, #605c3c, #3c3b3f);
}

.bg-index-row {
  background: #3c3b3f;
  background: -webkit-linear-gradient(to top, #605c3c, #3c3b3f);
  background: linear-gradient(to top, #605c3c, #3c3b3f);
}

.bg-index-row-reverse {
  background: #3c3b3f;
  background: -webkit-linear-gradient(to bottom, #605c3c, #3c3b3f);
  background: linear-gradient(to bottom, #605c3c, #3c3b3f);
}

.bg-floating-btn {
  background-color: #605c3c;
  &:hover {
    background-color: #56533d;
  }
}

// COLORS SHOP
.bg-shop {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

.bg-shop-side {
  background: #0f0c29;
  background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to left, #24243e, #302b63, #0f0c29);
}

// COLORS EXHIBIT
.bg-exhibit {
  background: #232526;
  background: -webkit-linear-gradient(to bottom, #414345, #232526);
  background: linear-gradient(to bottom, #414345, #232526);
}

.bg-exhibit-heading {
  background: #232526;
  background: -webkit-linear-gradient(to top, #414345, #232526);
  background: linear-gradient(to top, #414345, #232526);
}

.bg-exhibit-side {
  background: #232526;
  background: -webkit-linear-gradient(to left, #414345, #232526);
  background: linear-gradient(to left, #414345, #232526);
}

// COLORS CONTACT
.bg-contact {
  background: #283c86;
  background: -webkit-linear-gradient(to right, #45a247, #283c86);
  background: linear-gradient(to right, #45a247, #283c86);
}

.bg-contact-heading {
  background: #283c86;
  background: -webkit-linear-gradient(to left, #45a247, #283c86);
  background: linear-gradient(to left, #45a247, #283c86);
}

// EXHIBIT SLIDER
.slider .indicators .indicator-item {
  background-color: #f5f5f5;
  &.active {
    background-color: #424242;
  }
}

// EXHIBIT REFERENCES CAROUSEL
.carousel {
  max-height: 20rem;
}

.carousel.carousel-slider .carousel-item {
  visibility: visible;
}

.carousel .indicators .indicator-item {
  background-color: #bdbdbd;
  &.active {
    background-color: #616161;
  }
}

// CONTACT SPECs
td:nth-child(3) {
  font-weight: 700;
}

td a {
  color: #000;
  &:hover {
    color: #ef6c00;
    transition: color 0.25s;
  }
}

.section-info {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
